.subCategory_hidden_bck {
	background-color: #efefef;
	position: absolute;
	z-index: 100;
	border: 1px solid;
}

.form-control-feedback {
	display: none !important;
}

.hidden-subcat {
	display: none;
}

.filter_cat {
	background-color: #eeeeee;
	border: 1px solid;
	padding-top: 15px;
}

.subCategory_hidden_bck ul>li {
	padding: 12px;
}

.highlight_subcat {
	background-color: #a1a1a1;
}

.selected_filters {
	background-color: #cdccc6;
	border: 1px solid;
	border-top:none;
}

.filters{
    margin-left: 5px;
    cursor :pointer;	
}