.subCategory_hidden_bck {
	/*background-color: #efefef;*/
	background-color: #FFFDFD;
	position: absolute;
	z-index: 100;
	border: 1px solid;
}

.form-control-feedback {
	display: none !important;
}

.hidden-subcat {
	display: none;
}

.filter_cat {
	background-color: #eeeeee;
	border: 1px solid #AAAAAA;
	padding-top: 15px;
}

.subCategory_hidden_bck ul>li {
	padding: 5px;
}

.highlight_subcat {
	background-color: #a1a1a1;
}

.selected_filters {
	padding:5px;
	background-color: #FFFCED;
	border: 1px solid #AAAAAA;
	border-top:none;
}

.filters{
    margin-left: 5px;
    cursor :pointer;	
}

.checkBoxText{padding:5px;}

.searchFilter{padding-left:5px; padding-right:5px;margin-bottom:15px;}

.content{padding-right:10px;}

#breadCrumb{margin-top:20px; margin-bottom:15px;color:#428bca;font-size:16px;margin-left:5%;}


.form-control-radio-label{padding-right:10px;}

#left_TableList{float:left;}
#right_LocationFilterSection{float:left;margin-left:25px;color:#555544;font-size:12px;width:20%;}
#cityBar{padding-left:2px;}
	.radioButton{margin-bottom:5px;background-color:#FFFFFF;}
	.radioCaption{padding-left:5px;padding-right:20px;margin-bottom:2px;}
	.radioCaption_RightAlign{padding-left:5px;margin-bottom:2px;}
#locationSearchBar{margin-top:15px;padding-left:3px;padding-top:2px;padding-bottom:2px;}
	.noBorder{border:1px solid #FFFFFF;}
	.locationTextBox{border:1px solid rgb(239,228,176);height:30px;padding-left:5px;width:80%;}
	.searchIcon{width:29px;height:30px;vertical-align:top;}
#locationListBar{margin-top:10px;padding-left:8px;width:90%;overflow:hidden;background-color:rgb(255,255,190);}
	.checkBox{background-color:#FFFFFF;border:1px solid rgb(239,228,176)}
	#locationResultSection{float:left;width:70%}
	#clearSection{float:left; text-align:right;margin-top:4px;width:30%;}
	.smallLink{color:rgb(0,162,230);background-color:#FFFFFF;border:1px solid #FFFFFF;}
	.smallLink_Yellow{color:rgb(0,162,230);background-color:rgb(255,255,190);border:1px solid #FFFFFF;}
#horizontalSeparator{width:85%;margin-left:2%;}
	#horizontalSeparator hr{color:rgb(239,228,176); margin-top:5%;margin-bottom:5%;}

	.postField{padding-right:5px;padding-left:5px;}
	.postField_Highlight{font-weight:bold;padding-right:5px;padding-left:5px;float;right;}
	.separator{color:#428bca;}

#companySearchBar{margin-top:15px;padding-left:3px;padding-top:2px;padding-bottom:2px;}

#neighborhoodLocationBar{margin-left:3%;}
	#heading{margin-bottom:2%;}
	#neighborAreaList{margin-left:2%;}
	#neighborAreaList td{padding:2px;}

.checkboxColumn{float:left;width:10%;}
.checkboxCaptionColumn{float:left;/*width:90%*/;padding-left:10px;}
.radioCaptionWithoutSpace{padding-right:20px;margin-bottom:2px;}
.listSection{min-width:50%;margin-left:5%;}

.mandatory{color:#FF0000;padding-left:5px;}
.error{font-size:13px;float:left;padding-left:50px;}

#selectedCorporateDetails{margin-top:10px;padding-left:8px;width:90%;overflow:hidden;background-color:rgb(255,255,190);}

#signInSection ul.errorMessage{float:right !important;}
	
	

@font-face{font-family:TimeBurner; src:url(fonts/timeburner_regular.ttf);}
.logo{font-family:TimeBurner;font-size:22px;font-weight:bold;color:#FFFFFF;text-decoration:none}
.logo hover{text-decoration:none;}

.dropDown{height:25px;width:150px;}


#electronicsSubCategorySection{margin-bottom:4%;width:120%;margin-left:-15px;}
#electronicsSubCategorySection a{text-decoration:underline;color:#428bca}
#electronicsSubCategorySection li{font-size:14px;color:#428bca;padding:5px;}
#electronicsSubCategorySection li:hover{background-color:#FFFFFF;}
.fieldCaption{color:#AAAAAA;}
.fieldValueBold{color:#FF0000;}