body{font-size:13px;}

 #welcomeBanner ul{list-style-type:none;}
 #welcomeBanner li{padding-top:20px;}
 
 .mainButton_Red{background-color:rgb(237,38,26); color:#FFFFFF; width:150px; height:40px; border:0px;}
 .tableButton{background-color:#0099CC; color:#FFFFFF; width:100px; height:35px; border:0px;}
 
 #adCategories{margin-left:15px;}
 #adCategories li{padding-top:5px; list-style-type:square;}
 
 