* {
	margin: 0;
	padding: 0;
}

#header_wrapper {
	background: none repeat scroll 0 0 #0099cc;
	display: block;
	float: left;
	height: 105px;
	width: 100%;
}

#top_bar {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.51) 100%);
	display: block !important;
	height: 39px !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	position: fixed;
	top: 0;
	width: 100% !important;
	z-index: 1000;
}

.top_bar_holder {
	display: block;
	height: 38px;
	margin: 0 auto;
	width: 980px;
}

.top_bar_left_list_container {
	display: block;
	height: 38px;
	list-style-type: none;
	width: 100%;
}

.top_bar_leftside {
	display: block;
	float: left;
	height: 38px;
	width: 60%;
}

.top_bar_rightside {
	display: block;
	float: right;
	height: 35px;
	overflow: hidden;
}

.topmenu_divider {
	background: none repeat scroll 0 0 #2d2d2d;
	display: block;
	float: left;
	height: 20px;
	margin-top: 9px;
	width: 2px;
}

.top_bar_left_list_container li {
	display: inline-block;
}

.top_bar_cod {
	color: #fff;
	display: inline-block;
	float: left;
	font-family: 'Karla', sans-serif;
	font-size: 11px;
	margin: 7px 0 0;
	padding: 6px 7px;
	text-decoration: none;
	text-transform: uppercase;
}

#container {
	float: left;
	height: 77px !important;
	width: 100%;
}

#header {
	height: 77px !important;
	margin: 46px auto 0;
	width: 980px;
}

#search_container {
	display: block;
	float: right;
	margin: 9px -2px 0 0;
	overflow: visible;
	width: 324px;
}

#content {
	clear: both;
	display: block;
	height: auto;
	min-height:auto;
	margin: 0 auto;
	position: relative;
	width: 980px;
}

.container_of_imgs {
	background: none repeat scroll 0 0 white;
	/* box-shadow: 0 0 24px 3px rgba(58, 58, 58, 0.2); */
	display: block;
	float: left;
	height: auto;
	margin-bottom: 30px;
	margin-left: -50px;
	margin-top: 7px;
	width: 1080px;
}

@font-face {
	font-family: TimeBurner;
	src: url(fonts/timeburner_regular.ttf);
}

.logo {
	font-family: TimeBurner;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none
}

.logo hover {
	text-decoration: none;
}

#top_menu {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #0099cc;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.31);
    clear: both;
    height: 35px;
    position: relative;
    top: 0;
    width: 100%;
}

.menu_icon_holder {
    display: block;
    height: 35px;
    margin: 0 auto;
    width: 990px;
}

#menu {
    float: left;
    height: 34px;
    list-style: none outside none;
    padding: 0;
}

#menu li {
    display: block;
    float: left;
    padding: 9px 20px 11px 15px;
    position: relative;
    text-align: center;
}

#menu li a {
    color: #484848;
    cursor: pointer;
    display: block;
    font-family: arial;
    font-size: 12px;
    outline: 0 none;
    text-decoration: none;
    text-shadow:0px 2px 6px rgba(152, 177, 148, 0.65);
}

#menu li a:hover {
    color :	#0099cc;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #ffffff;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
    border :1px solid;
}
.bs-example{
	margin: 20px;
}

.menu_right_scroll {
    display: block;
    float: right;
    height: auto;
    width: 205px;
}