.postAdMainSection{margin-left:15%;box-shadow: 2px 5px 5px 5px #888888;border:1px solid #AAAAAA;}
.post_title {margin-bottom: 10px;border-bottom: 1px solid #CCCCCC;color:#0099CC;font-size:20px;padding:5px;}
.radioStrip{padding:5px;margin-left:10px;}
.radioText{margin-left:5px;margin-right:10px;}
form{font-size:12px;}